/*Hero section*/
.oplev-hero {
	height: 20%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-heading {
	font-size: 24px;
}

.hero-subheading {
	font-size: 16px;
}

.hero-figure {
	display: grid;
	width: 100%;
	margin: 0 auto;
}

.hero .hero-figure .hero-figcaption {
	z-index: 2;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
	color: var(--primary-color);
}

.hero .hero-figure .hero-img {
	grid-row-start: 1;
	grid-column-start: 1;
	align-content: center;
	width: 100%;
	height: 25vh;
	display: block;
}

/* ---------------------------------- */

/*Kontakt section*/
.contact-section {
	height: 70vh;
	margin: 20px 20px 20px 20px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-section h2 {
	margin-bottom: 40px;
	font-size: 24px;
	font-weight: 600;
}

input,
textarea {
	width: 300px;
	border: 1px solid #131d3b;
	margin: 15px 0;
	padding: 10px;
	background-color: var(--primary-color);
}

.input-wrapper {
	opacity: 50%;
}

textarea {
	height: 100px;
}

#my-btn {
	width: 100px;
	background-color: var(--tertiary-color);
	border: none;
}

.ok,
.check-circle {
	color: green;
}
/* ---------------------------------- */

/*MEDIA QUERIES*/

@media only screen and (min-width: 700px) {
	/*CONTACT SECTION*/

	input,
	textarea {
		width: 640px;
	}
}
